.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;

}
.content {
	display: flex;
	justify-content: center;
}

.btn_container {
	display: flex;
	justify-content: center;
	gap: 25px;
}

.grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row {
	display: flex;
	justify-content: center;

}

.cell {
	background-color: lightgrey;
	width: auto;
	height: auto;
}

.h1 {
	text-align: center;
}